@layer reset, base, tokens, recipes, utilities;
@layer reset {
  input,
  select,
  option,
  textarea {
    outline: none;
  }
}
@layer base {
  a {
    text-decoration: none;
  }
}

@layer tokens {
  :root {
    --color-primary: #ff2;
    --color-secondary: #fff;
    --color-tertiary: #ccc;
    --shadow-sm: 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
}
